<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVN8qcwTTOr-nyUqW4Wv3zeDbIYVdWk8M</string>
	<key>GCM_SENDER_ID</key>
	<string>117082365050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joseph.StacksThreads</string>
	<key>PROJECT_ID</key>
	<string>stacksthreads</string>
	<key>STORAGE_BUCKET</key>
	<string>stacksthreads.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117082365050:ios:0198b4ceb6c832c02eefc3</string>
</dict>
</plist>